<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>

<body>

    <header>
        <div class="container--header">
            <div class="img-logo">
                <img src="./images/logo.png" alt="">
            </div>
            <form action="" class="form-search">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit"> <i class="bi bi-search"></i></button>
            </form>
            <div class="header-buying">
                <i class="bi bi-cash-coin"></i> Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <nav class="nav--extended">
            <ul class="menu--shop">

                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="menu--login">

                <li><a href="#">Creá tu cuenta <i class="bi bi-file-earmark-person"></i></a></li>
                <li><a href="#">Ingresá <i class="bi bi-arrow-right-circle"></i></a></li>
                <li><a href="#">Mis compras <i class="bi bi-basket"></i></a></li>
            </ul>

        </nav>


        <div class="burger-menu">
            <i class="bi bi-list"></i>
        </div>

    </header>
    <main>
        <section class="section--body">
            <h2 class="titles-section"> Basado en tu última visita
            </h2>

            <div class="container--article">

                <article>
                    <div class="article--image">
                        <img src="./images/cafetera.jpg" alt="">
                    </div>
                    <div class="article--description">



                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>


                        <div class="price--discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>


                        <h5 class="description-products">Cafetera Moulinex</h5>
                    </div>
                </article>

                <!-- Aquí los demás artículos con la misma estructura -->
                <article>
                    <div class="article--image">
                        <img src="./images/macbook.jpg" alt="">
                    </div>
                    <div class="article--description">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>
                        <div class="price--discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>

                        <h5 class="description-products">MacBook Pro 2019</h5>
                    </div>
                </article>
                <article>
                    <div class="article--image">
                        <img src="./images/samsung.jpg" alt="">
                    </div>
                    <div class="article--description">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>
                        <div class="price--discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>

                        <h5 class="description-products">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article>
                    <div class="article--image">
                        <img src="./images/samsungTV.jpg" alt="">
                    </div>
                    <div class="article--description">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio"
                            class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>
                        <div class="price--discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>

                        <h5 class="description-products">SmartTv Samsung 43</h5>
                    </div>
                </article>
            </div>

        </section>

        <section class="section--body">


            <h2 class="titles-section"> Ofertas
            </h2>

            <div class="container--article">

                <article>
                    <div class="article--image">
                        <img src="./images/cafetera.jpg" alt="">
                    </div>
                    <div class="article--description">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>

                        <div class="price--discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>



                        <h5 class="description-products">Cafetera Moulinex</h5>
                    </div>
                </article>

                <!-- Aquí los demás artículos con la misma estructura -->
                <article>
                    <div class="article--image">
                        <img src="./images/macbook.jpg" alt="">
                    </div>
                    <div class="article--description">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>
                        <div class="price--discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>

                        <h5 class="description-products">MacBook Pro 2019</h5>
                    </div>
                </article>
                <article>
                    <div class="article--image">
                        <img src="./images/samsung.jpg" alt="">
                    </div>
                    <div class="article--description">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>
                        <div class="price--discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h5 class="description-products">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article>
                    <div class="article--image">
                        <img src="./images/samsungTV.jpg" alt="">
                    </div>
                    <div class="article--description">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" class="logo--envio">
                            <path
                                d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
                        </svg>

                        <div class="price--discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>

                        <h5 class="description-products">SmartTv Samsung 43</h5>
                    </div>
                </article>

            </div>
        </section>
    </main>

    <footer>
        <ul>
            <li>
                <section>
                    <i class="bi bi-credit-card-2-back icon--footer"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </section>
            </li>
            <li>
                <section>
                    <i class="bi bi-gift-fill icon--footer"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </section>
            </li>
            <li>
                <section>
                    <i class="bi bi-shield-shaded icon--footer"></i>
                    <h3> Seguridad, de principio a fin </h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </section>
            </li>
            <li>
                <section>
                    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                </section>
            </li>

        </ul>
    </footer>
</body>

</html>