/* Center the form vertically and horizontally */
.section--login {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

.login-form h2 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.login-form label {
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
	width: 100%;
	padding: 10px;
	margin: 5px 3px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.login--btn {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.login--btn:hover {
	background-color: #0022aa;
}
